:root {
    --color-title:#2E2F42;
    --color-text:#434455;
    --color-accent:#4D5AE5; 
}

body {
    font-family: "Roboto", sans-serif ;
    color: var(--color-accent);
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-family: inherit;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--color-text);
}

.menu-link:active {
    color: var(--color-accent);
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--color-title);
}

.logo-span {
    color: var(--color-accent);
}


.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-title);
}

.contact-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

.contact-mail:hover,
.contact-mail:focus {
    color: var(--color-accent);
}

.contact-phone-number {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--color-accent);
}

/* ============HERO============= */

.hero-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: var(--color-title)
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 170px;
    height: 51px;
    background-color: var(--color-accent);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

}

.button:hover,
.button:focus {
    background: var(--color-accent);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.button:active {
    background: #404BBF;
}

/* ===================ABOUT============== */

.about-title,
.filter-title,
.portfolio-title {
    font-size: 0;
}

.about-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-title);
}

.about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

/* ======================WORKS======================= */

.works-title,
.team-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-title);
}

/* =====================TEAM===================== */

.team-title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-title);
}

.position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

/* ================FOOTER===================== */

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}



.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 1,5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-accent);
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    width: 116px;
    height: 48px;
    cursor: pointer;
}

/* =================FILTER================== */

.btn:hover,
.btn:focus {
    color: #FFFFFF;
    background: var(--color-accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* =================PORTFOLIO================== */

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-title);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

